# Dependencies
node_modules/
.pub-cache/

# Build outputs
build/
dist/
*.exe
*.apk

# IDE
.idea/
.vscode/
*.iml

# OS files
.DS_Store
Thumbs.db

# Gradle
.gradle/
local.properties

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Logs
*.log
